# PostgreSQL Database URL for Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/voicash?schema=public"

# Secret key for stateless JWT sessions
JWT_SECRET="super-secret-voicash-jwt-key-minimum-32-chars"

# App Environment
NODE_ENV="development"
